.drop-down{
    z-index: 999;
    position: absolute;
    left: -100px;
    width: 150px;
    /* height: 200px; */

    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.1),
        -8px -8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
    background: #ffffff;

    display: flex;
    flex-direction: column;
}

.drop-down button{
    width: 100% !important;
    border-radius: 0px !important;
}
.drop-down button:first-child {
    width: 100% !important;
    border-radius: 20px !important;
}
.drop-down button:last-child {
    width: 100% !important;
    border-radius: 20px !important;
}


.drop-down button:hover{
    background-color: rgba(179, 176, 176, 0.541);
    border-radius: none !important;

}

