.write-form-modal{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.write-form-modal .modal-main {
    display: flex;
    flex-direction: column;
    background: white;
    width: 40%;
    height: auto;
    padding: 20px;
    top:20%;
    left:50%;
    border-radius: 25px;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.write-form-modal .modal-main .top{
    position: relative;
    width: 100%;
    height: auto;
}

.write-form-modal .modal-main .cancel-btn{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
    background: rgba(128, 128, 128, 0.719);
    border-radius: 50px;
    cursor: pointer;
    font-size: 10px;
}

.write-form-modal .modal-main .confirm-btn{
    background-color: rgb(211, 32, 32) !important;
    color: #ffffff;
}

.write-form-modal .modal-main .cancel-btn{
    border: 1px solid rgba(153, 153, 153, 0.404) !important;
}

.write-form-modal .write-form{
    width: 100%;
    box-shadow: none;
}